<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appId</key>
	<string>scorecards-rgyjv</string>
	<key>appUrl</key>
	<string>https://realm.mongodb.com/groups/6213d752a3886711231e2a9f/apps/64ad88d357e5976a69715f25</string>
	<key>baseUrl</key>
	<string>https://realm.mongodb.com</string>
	<key>clientApiBaseUrl</key>
	<string>https://us-east-1.aws.realm.mongodb.com</string>
	<key>dataApiBaseUrl</key>
	<string>https://us-east-1.aws.data.mongodb-api.com</string>
    <key>dataExplorerLink</key>
    <string>https://cloud.mongodb.com/links/6213d752a3886711231e2a9f/explorer/Cluster0/database/collection/find</string>
    <key>dataSourceName</key>
    <string>mongodb-atlas</string>
</dict>
</plist>
